

section {
  flex: 0 0 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  overflow: hidden;
}

.container {
  display: flex;
  width: 500vw; 
}

